.parent{
	width: 200px;
	height: 150px;
	border: 5px ridge red;
	padding: 57px;
	padding-left: 73px;
	background-color: black;
	margin-top: 114px;
	margin-left: 522px;
}
.parent .child{
	background-color: blue;
}
.child{

	width: 174px;
	height: 135px;
	padding: 5px 2px;
	border: 2px solid red;
}
.son{
	//display: none;
	width:63px;
	height: 111px;
	border:2px solid black;
	margin: 5px;
	padding: 5px;
	float: left;
	background-color: red;
}

.son .gson1,.gson2 {
	width: 19px;
	height: 37px;
	border:2px solid black;
	padding: 2px;
	margin: 2px;
	float: left;
	background-color:yellow;
}

.gson3{
	width: 50px;
	height: 33px;
	border:2px solid black;
	padding: 2px;
	margin: 2px;
	float: left;
	background-color: yellow;
}